<li class="<%= 'active' if current_page?(new_multisite_site_path) %>"><%= link_to "Create site", new_multisite_site_path %></li>
<li class="<%= 'active' if current_page?(multisite_sites_path) %>"><%= link_to "My sites", multisite_sites_path %></li>
