<nav class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="<%= root_path %>">Crowdhoster</a>
      <ul class="nav">
        <% if current_user %>
          <%= render partial: 'layouts/multisite/navbar_links_authed' %>
        <% else %>
          <%= render partial: 'layouts/multisite/navbar_links_anon' %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
