<%= form_for(@settings, url: admin_website_path, multipart: true, html: { id: "admin_website_form" }) do |f| %>
  <%= hidden_field_tag 'current_tab', 'analytics-form' %>

  <fieldset>
    <legend>Analytics</legend>

    <div class="field clearfix">
      <p class="explanation">If would like to add tracking to your site, sign up for an account at https://google.com/analytics, then paste your tracking ID here.</p>
      <label>Google Analytics ID</label>
      <%= f.text_field :google_id %>
    </div>

  </fieldset>

  <%= f.submit "Save", :'class' => "btn btn-primary show_loader", :'data-loader' => "project_form" %>
  <span class="loader" data-loader="project_form" style="display:none"></span>

<% end %>
