<%= form_for(@settings, url: admin_website_path, multipart: true, html: { id: "admin_website_form" }) do |f| %>
  <%= hidden_field_tag 'current_tab', 'content-form' %>

  <fieldset>
    <legend>Homepage Content</legend>


    <div class="field clearfix">
      <label>Homepage Content</label>
      <p class="explanation inline">This content is shown on the homepage in addition to the campaign titles.</p>
      <%= f.cktext_area :homepage_content %>
    </div>

  </fieldset>

  <%= f.submit "Save", :'class' => "btn btn-primary show_loader", :'data-loader' => "project_form" %>
  <span class="loader" data-loader="project_form" style="display:none"></span>

<% end %>
