<% crumbs_arr = [['Admin', admin_dashboard_path]] + (crumbs ||= []) %>
<h3>
  <%= raw(crumbs_arr.map {|crumb| link_to crumb[0], crumb[1] }.join(" > ")) %>
  <span class="loader" data-loader="admin_header" style="display:none"></span>
</h3>
