<div id="admin-footer">
  <div class="container clearfix">
  	<p class="pull-left"><a href="http://www.crowdhoster.com" target="_blank">Powered by Crowdhoster</a> // <a href="http://www.crowdtilt.com" target="_blank">A Crowdtilt joint</a></p>
    <p class="pull-right">© 2013 Crowdhoster.com</p>
  </div>
</div>