<p>
<%= @payment.fullname %> has just become a backer of <%= @payment.campaign.name %>.
They donated <%= @payment.amount %>! If you want to you can thank them at this address:
<%= @payment.email %>.
</p>
