<!-- Jumbotron -->
<div class="main-banner">
  <h1>Crowdhoster</h1>
  <p class="lead">Everything you need to start your own custom crowdfunding page.</p>
  <a class="btn btn-large btn-success" href="<%= new_multisite_site_path %>">Create your site</a>
</div>
