<div id="footer">
  <div class="container clearfix">
    <p class="pull-right">© <%= @settings.copyright_text %> | <a target="_blank" href="http://www.crowdhoster.com/privacy">Privacy Policy</a></p>
  </div>
</div>
