<div id="header">
  <div class="container center">
    <% if @site.logo_image.file? %>

      <a href="/"><%= image_tag @site.logo_image.url, alt: "logo" %></a>

    <% else %>

      <h1><a href="/"><%= @site.site_name %></a></h1>

    <% end %>

    <% if !@site.header_link_text.blank? && !@site.header_link_url.blank? %>
    <div class="header_link">
      <a href="<%= @site.header_link_url %>" target="_blank" class="btn"><%= @site.header_link_text %></a>
    </div>
    <% end %>

  </div>
</div>
