<div id="header">
  <div class="container center tk-ltc-globe-gothic">
    <% if @settings.logo_image.file? %>

      <a href="/">
        <%= image_tag @settings.logo_image.url, alt: "logo" %>
        <br />
        Cinco de Buyo
      </a>

    <% else %>

      <h1><a href="/"><%= @settings.site_name %></a></h1>

    <% end %>

    <% if !@settings.header_link_text.blank? && !@settings.header_link_url.blank? %>
    <div class="header_link tk-ltc-globe-gothic">
      <a href="<%= @settings.header_link_url %>" target="_blank" class="btn">
        <%= @settings.header_link_text %>
        Cinco de Buyo
      </a>
    </div>
    <% end %>

  </div>
</div>