#campaign {
  /*************************************
  ********** FUNDING AREA **************
  **************************************/

  #funding_area {
    width: 100%;
    padding: 40px 0;
    background: #f6f6f6;
    border-bottom: 1px solid #c4c4c4;

    .campaign_title {
      a {
        text-decoration: none;
        color: #4b4b4b;
        &:hover {
          text-decoration: none;
          color: #4b4b4b;
        }
      }
    }
    
    #media {
      margin-bottom: 20px;
    }

    #video {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px; height: 0; overflow: hidden;
    }

    #video iframe,
    #video object,
    #video embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    #video {
      background: #fff;
      -moz-box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
      -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
      box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
      img:hover
      {
       opacity: 0.5;
       cursor: pointer;
      }
    }

    #image {
      max-width: 100%;
      height: auto;
      display: inline-block;
      -moz-box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
      -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
      box-shadow: 0 2px 6px rgba(0,0,0,.39); /* drop shadow */
      img {
        max-width: 100%;
        height: auto;
      }
    }

    #reserve_container {
      width: 100%;
      float: left;
      padding-top: 20px;
      border-top: 1px solid #fff;
      -moz-box-shadow:    0 -1px 0 #cbcbcb; /* drop shadow */
      -webkit-box-shadow: 0 -1px 0 #cbcbcb; /* drop shadow */
      box-shadow:         0 -1px 0 #cbcbcb; /* drop shadow */
      margin-top: 30px;

      .call_to_action_button {
        text-align: center;
      }

      .call_to_action_description {
        p, span {
          line-height: 1;
        }
      }
    }

    #backing {

      ul {
        margin: 0;
      }

      #backers {
        border-left: none;
      }

      #days {
        border-right: none;
        padding-right: 0;
      }

      ul {
        text-align: center;
      }

      .stats {
        margin: 0 auto;
        color: #3f3f3f;
        font-size: 24px;
        display: block;
        display: inline-block;
        font-family: $primary_font, $secondary_font, $tertiary_font;
        border-right: 1px solid #cbcbcb;
        padding-right: 23px;
        padding-left: 23px;
        text-align: left;
        span {
          color: #868686;
          font-size: 18px;
          margin-top: 5px;
          display: block;
          font-family: $primary_font, $secondary_font, $tertiary_font;
        }
      }
    }

    body.lt-ie9
    {
      .progress-bar {
        background-image: none !important;
        background-color: #1392dc !important;
      }
    }

    .progress {
      background-color: #efefef;
      margin-top: 20px;
      margin-bottom: 0px;
    }

    #progress_text {
      margin: 0 auto;
      width: 100%;
      font-size: 14pt;
      display: inline-block;
      color: white;
      text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.37);
      text-align: center;
      position: relative;
      top: -35px;
    }

    .small {
      height: 20px !important;
    }

  }

  /*************************************
  ********** CAMPAIGN BODY *************
  **************************************/

  #campaign_body {
    width: 100%;
    padding: 50px 0 40px;
    border-bottom: 1px solid #c4c4c4;
    .main_content {
      .tabbable {
        width: 100%;
        float: left;
      }
      .tab-content {
        margin-top: 15px;
      }
    }
    .rewards_sidebar {
      background: #f6f6f6;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      display: inline-block;
      h3 {
        margin: 20px 0px 0px 20px;
        padding-top: 10px;
      }
      ul {
        margin: 0px;
        li {
          border-bottom: 1px solid gray;
          &:last-child {
            border-bottom: none;
            a {
                -webkit-border-radius: 0px 0px 5px 5px;
                 -moz-border-radius: 0px 0px 5px 5px;
                border-radius: 0px 0px 5px 5px;
            }
          }
          a {
            display: block;
            padding: 20px 20px;
            &:hover {
              text-decoration: none;
              background: #CFCDCD;
            }
            &.disabled {
              opacity: 0.7;
              cursor: default;
              &:hover {
                background: none;
              }
            }
            p {
              font-size: 14px;
              margin: 0px;
              color: #4b4b4b;
              text-shadow: none;
              &.price {
                font-size: 24px;
                font-weight: bold;
              }
              &.title {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 12px;
              }
              &.description {
                margin-bottom: 12px;
              }
              &.delivery {
                font-size: 12px;
                font-weight: bold;
                font-style: italic;
                margin-bottom: 12px;
              }
              &.claimed {
                font-weight: bold;
              }
            }
          }
        }
      }

    }
  }

  /*************************************
  ******** SECOND CALL TO ACTION *******
  **************************************/
  #second_call_to_action {
    width: 100%;
    padding: 50px 0 40px;
    background: #f6f6f6;
    border-bottom: 1px solid #c4c4c4;

    h2 {
      margin-bottom: 26px;
    }
  }

  /*************************************
  ************* FAQ ********************
  **************************************/
  #faq {
    width: 100%;
    padding: 50px 0 40px;
    border-bottom: 1px solid #c4c4c4;

    ul {
      margin-top: 30px;

      li {
        margin-bottom: 30px;
        padding-left: 18px;
        background: image-url('bullet.png') no-repeat left 8px;

        p {
          margin-top: 10px;
          line-height: 1.4;
          font-size: 18px;
        }
      }
    }
  }
}
