#footer {
  background: #e6e6e6;

  moz-box-shadow: inset 0px 1px 3px 0px #acacac;
  -webkit-box-shadow: inset 0px 1px 3px 0px #acacac;
  box-shadow: inset 0px 1px 3px 0px #acacac;

  padding: 40px 0 30px;
  ul {
    float: left;
  }
  li {
    margin-bottom: 10px;
  }
  a {
    font-size: 14px;
    color: #6b6b6b;
    font-family: $primary_font, $secondary_font, $tertiary_font;
    &:hover {
      text-decoration: none;
      color: #323232;
    }
  }
  p {
    font-size: 14px;
  }
}