@import "base";
@import "footer";
@import "header";
@import "campaign";
@import "homepage";

#learn-more-modal {
	width:auto;
	margin:0px;
	z-index:1060;
	background:none;
	border:none;
	top: 50%;
	margin-top: -130px;

	.modal-content {
		padding:30px;

		.close {
			position: absolute;
			top: 10px;
			right: 20px;
			font-size: 40px;
		}
	}
}

.modal-backdrop {
	position: fixed!important;
}

.call_to_action_description p {
	font-size:14px;
}

.msrp {
	text-decoration:line-through;
}

#campaign #funding_area #backing #days.stats {
	text-align: center;
	padding: 0px;
	font-size: 34px;
}

select, input[type="file"],select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input 
{
	height:34px;
}

.well.white {
	background:white;
}

.container {
	width:auto;
}

#checkout .sidebar {
	width:33.333333%;
}

#campaign #faq ul {
	width:100%;
	margin:0px;

	li {
		width:inherit;
	}
}
