#navbar {
  .navbar-inner {
    min-height: 30px;
  }

  .navbar .nav > li > a {
    padding: 5px 15px;
    display: inline-block;
  }

  .navbar .nav > li > a:hover .caret {
    border-top-color: white;
    border-bottom-color: white;
  }

  .navbar img {
    display: inline-block;
    vertical-align: bottom;
  }

  .status {
    margin-top: 5px;
    margin-right:8px;
  }

}