#navbar {
  .navbar-inner {
    min-height: 30px;
  }

  .navbar .nav > li > a {
    padding: 5px 15px;
    display: inline-block;
  }

  .navbar .nav > li > a:hover .caret {
    border-top-color: white;
    border-bottom-color: white;
  }

  .navbar img {
    display: inline-block;
    vertical-align: bottom;
  }

  .status {
    color: white;
    margin-top: 5px;
    border-radius: 5px;
    margin-right:8px;
    padding: 0px 10px;
  }
  .status.red {
    background-color: red;
  }
  .status.green {
    background-color: green;
  }

}