#navbar {
  .navbar {
    min-height: 30px;
  }

  .navbar-left > li {
    float: left;
  }

  .navbar .nav > li > a {
    padding: 5px 15px;
    display: inline-block;
  }

  .navbar .nav > li > a:hover .caret {
    border-top-color: white;
    border-bottom-color: white;
  }

  .navbar img {
    display: inline-block;
    vertical-align: bottom;
  }

  .navbar-btn {
    margin-top: 4px;
    margin-bottom: 0px;
    margin-right: 8px;
  }

  .status {
    margin-top: 7px;
    margin-right:8px;
  }

}