<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p style="font-size: 16px; color: black"><%= @settings.site_name %></p>
    <hr>
    <br/>
    <%= yield %>
    <br/>
    <hr>
    <p style="text-align: center;">
    <a style="text-decoration: none; color: black" href="http://www.crowdhoster.com" target="_blank">&nbsp;&nbsp;A Crowdhoster Site</a>
    <a style="text-decoration: none; color: black" href="http://www.crowdhoster.com" target="_blank">
      &nbsp;<img height="15px;" style="margin-bottom: -2px;" src="https://crowdhoster-emails.s3.amazonaws.com/crowdtiltcircle.png">&nbsp;
    </a>
    <a style="text-decoration: none; color: black" href="http://www.crowdtilt.com" target="_blank">Powered by Crowdtilt</a>
    </p>
    <p style="text-align: center;"><a style="text-decoration:none;" href="http://www.crowdhoster.com">[Start your own campaign]</a></p>
  </body>
</html>
