<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4><%= @settings.site_name %></h4>
    <hr>
    <%= yield %>
  </body>
</html>